# Ignore Mac system files
.DS_store

# Ignore STM_SandBox except the ones specify below with !
STM_SandBox/*
!STM_SandBox/exercise_3_blink_led_while_button_is_pressed
!STM_SandBox/MagicWritter
*.d
*.o
*.su
*.elf
*.list
*.map


# MagicWriter: Ignore training-data
STM_SandBox/MagicWritter/Utilities/Training_data_digits/*

# Ignore all text files
#*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
#.sass-cache